/*----- 13. Testimonial style  ------*/

.single-testimonial {
  img {
    border-radius: 50%;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 32px;

    margin: 32px 0 0;

    color: #575757;
    @media #{$xs-layout} {
      font-size: 15px;
    }
  }
  .client-info {
    margin: 20px 0 0;
    i {
      font-size: 26px;

      color: #666666;
    }
    h5 {
      font-size: 14px;

      margin: 22px 0 3px;

      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: #010101;
    }
    span {
      font-size: 14px;

      letter-spacing: 1.5px;

      color: #010101;
    }
  }

  &--style2 {
    p {
      font-family: $josefin;
      font-size: 24px;

      color: #ffffff;
    }
    .client-info {
      h5 {
        color: #ffffff;
      }
      span {
        color: #ffffff;
      }
    }
  }
}

.testimonial-active {
  .swiper-button-next {
    right: 0 !important;
  }
  .swiper-button-prev {
    left: 0 !important;
  }

  &:hover {
    .ht-swiper-button-nav {
      visibility: visible;

      opacity: 1;
    }
  }
}

.testimonial-area {
  &:hover .nav-style-1.owl-carousel > .owl-nav div {
    visibility: visible;

    opacity: 1;
  }
  &.ml-70 {
    @media #{$xl-layout} {
      margin-left: 15px;
    }
    @media #{$lg-layout} {
      margin-left: 30px;
    }
    @media #{$md-layout} {
      margin-left: 40px;
    }
    @media #{$xs-layout} {
      margin-left: 15px;
    }
    @media #{$sm-layout} {
      margin-left: 30px;
    }
  }
  &.mr-70 {
    @media #{$xl-layout} {
      margin-right: 15px;
    }
    @media #{$lg-layout} {
      margin-right: 30px;
    }
    @media #{$md-layout} {
      margin-right: 40px;
    }
    @media #{$xs-layout} {
      margin-right: 15px;
    }
    @media #{$sm-layout} {
      margin-right: 30px;
    }
  }
  @media #{$lg-layout} {
    &.mt-195 {
      margin-top: 125px;
    }
  }
  @media #{$md-layout} {
    &.mt-195 {
      margin-top: 0;
      padding-top: 35px;
    }
  }
  @media #{$xs-layout} {
    &.mt-195 {
      margin-top: 0;
      padding-top: 40px;
    }
  }
}

.testimonial-img-2 {
  overflow: hidden;

  margin-top: -197px;
  @media #{$lg-layout} {
    margin-top: -130px;
  }
  @media #{$md-layout} {
    margin-top: 0;
  }
  @media #{$xs-layout} {
    margin-top: 30px;
  }
  img {
    width: 100%;
  }
}

.single-testimonial-2 {
  img {
    border-radius: 50%;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    line-height: 32px;

    margin: 0;
    margin-top: 30px;

    color: #fff;
  }
  .client-info {
    margin: 18px 0 0;
    i {
      font-size: 26px;

      color: #fff;
    }
    h5 {
      font-size: 14px;
      line-height: 1;

      margin: 20px 0 6px;

      letter-spacing: 1.5px;
      text-transform: uppercase;

      color: #fff;
    }
    span {
      font-size: 14px;
      line-height: 1;

      margin: 0;

      letter-spacing: 1.5px;
      text-transform: capitalize;

      color: #fff;
    }
  }
  &.testi-paragraph-mrg {
    p {
      margin: 32px 0 0;
    }
  }
}

.testimonial-active-2 {
  .owl-dots {
    margin: 15px 0 0;

    text-align: center;
    .owl-dot {
      display: inline-block;

      margin: 0 5px;
      span {
        display: inline-block;

        width: 8px;
        height: 8px;

        border: 2px solid transparent;
        border-radius: 100%;
        background-color: #fff;
      }
      &.active {
        span {
          border: 2px solid #fff;
          background-color: transparent;
        }
      }
    }
  }
}




.box-scroll {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  overflow: auto;
  cursor: pointer;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.box-scroll::-webkit-scrollbar {
  display: none;
}
.sidebar__block aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: opacity .7s cubic-bezier(.29,.53,.67,.97),transform .7s cubic-bezier(.29,.53,.36,.94),top .7s cubic-bezier(.24,.95,.68,.96),-webkit-transform .7s cubic-bezier(.29,.53,.36,.94);
}


.sidebar__block aside .media__img {
  transform: translate(-33.5px,0);
}

 .sidebar__block {
  position: relative;
  width: 216px;
}


.text1 {
  width: 67.8%;
  max-width: calc(100% - 340px);
  padding-right: 30px;
  padding-left: 114px;
}






// .sec {
//   background: linear-gradient(to bottom, #fff 1%, #f4f4f4 100%);
//   position: relative;
// }

// .sec .slide-img-pos {
//   position: absolute;
//   top: 40%;
//   width: 100%;
// }

.slide-img-pos-p1 {
  color: #276EF1;
  font-size: 13px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

.slide-img-pos-p2 {
  color: #0A0A0A;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 53px;
}

// @media (min-width: 1200px){
// .container {
//     width: 1170px;
// }}

.slide-img-pos-p3 {
  color: #282626;
  font-size: 13px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.slide-img-pos-p4 {
  color: #393939;
  font-size: 13px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}


.tab-sec {
  background-color: #f4f4f4;
  
}

.tab-sec .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #605f5f !important;
  background-color: transparent !important;
  border-bottom: 8px solid #276ef1;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #337ab7;
}
.tab-sec .nav-pills>li>a {
  border-radius: 0px !important;
  border-bottom: 8px solid transparent;
}

.sec2 ul li a {
  padding: 45px 50px 45px 50px;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  color: #b7b7b7;
  font-weight: 200;
  
}

.nav-pills>li {
  float: left;
}

.nav>li {
  position: relative;
  display: block;
}

.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid rgb(80,144,247);
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #32465B;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}
.tab-img-pos {
  position: absolute;
  background-color: #f4f4f4;
  opacity: 0.9;
  padding: 100px;
  // top: 24%;
  // right: 19%;
  width: 32%;
}