.day
{
    border-bottom: 1px solid #c7c1c1;
    padding-bottom: 22px;
}
.fs-25
{
    font-size: 25px;
}
.rest
{
    padding-bottom: 5px;
}
.text-gray
{
    color: #c7c1c1;
}
#avatar {

    background: linear-gradient(to right, #0061ff, #60efff);

    width: 12vmin;

    height: 12vmin;

    border-radius: 50%;

    overflow: hidden;

    transition: 300ms ease;

  }

  #avatar img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    object-position: top;

    border-radius: inherit;

    user-select: none;

    pointer-events: none;

  }

  #avatar:hover {

    padding: 10px;

    transform: rotate(10deg);

  }
  .checked {

    color: orange;

  }

  .description-review-topbar1 {
    display: flex;
    justify-content: center; 
    &.nav-pills {
        --bs-nav-pills-border-radius: 0rem;
        --bs-nav-link-color: black;
        --bs-nav-link-hover-color:#703ca2;
        --bs-nav-pills-link-active-color: #fff;
        --bs-nav-pills-link-active-bg: #703ca2;
     
        
    }
}

.card-image-circle{
  display: flex;

  
}

/* .description-review-topbar2 {
  display: flex;
  justify-content: center; 
  &.nav-pills {
      --bs-nav-pills-border-radius: 0rem;
      --bs-nav-link-color: black;
      --bs-nav-link-hover-color:#703ca2;
      --bs-nav-pills-link-active-color: #fff;
      --bs-nav-link-active-border: 3px solid  red;
      --bs-nav-link-font-size:20px;
      --bs-nav-link-font-weight:600;
      
  }
} */